* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  // https://www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/#why-625percent-font-size-works
  font-size: 0.625rem;
}

@import './variables/index.scss';

@import 'bootstrap';
@import 'bootstrap/dist/css/bootstrap.min.css';

@import './base/index.scss';
@import './components/index.scss';
