#navbar {
  & #top-nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    height: map-get($header-config, height, desktop);

    .vr {
      background-color: $muted !important;
      opacity: 0.25 !important;
    }

    #nav-logo {
      width: map-get($header-config, height, desktop);

      #logo {
        width: 30px;
        border-radius: $border-radius;
      }
    }

    .highlight {
      height: 2px;

      &.active {
        background-color: $primary;
      }
    }

    & #nav-slot {
      display: flex;
      align-content: center;
    }

    & nav {
      & a {
        font-family: $barlow;
        font-weight: 600;

        font-size: 1.1rem;

        color: $light;
        transition: color 0.25s ease;

        &:hover {
          color: $primary;
        }
      }

      & button {
        font-weight: 600;
        font-size: 13px;
        border-radius: $border-radius;
      }
    }

    & .nav {
      .active {
        border-color: $primary !important;
      }

      .btn-link {
        padding-top: 10px !important;
      }

      & .btn-link:hover,
      .btn-link:focus {
        border-color: transparent;
      }
    }
  }

  nav {
    .btn {
      height: 30px;
      white-space: nowrap;

      &.btn-icon {
        width: 30px;
      }
    }

    .btn-dark {
      background-color: transparent !important;

      &:hover {
        background-color: rgba(255, 255, 255, 0.075) !important;
      }

      &:active {
        background-color: rgba(255, 255, 255, 0.125) !important;
      }
    }
  }

  background-color: $backgroundLight;
  box-shadow: $boxShadow;

  position: fixed;
  z-index: map-get($header-config, z-index);

  min-width: $min-width;

  top: 0;
  right: 0;
  left: 0;
}

.btn-primary:hover {
  background-color: darken($primary, 5%) !important;
}

.btn-primary:focus {
  background-color: $primary;
}

.btn-primary:active {
  background-color: darken($primary, 10%) !important;
}
