.card {
  box-shadow: $boxShadow;
  border: 0.1rem solid $secondary;
  border-radius: $border-radius;

  scrollbar-color: $scrollbar-color $backgroundLight;

  background-color: $backgroundLight;
  color: $light;

  .section:not(:last-child) {
    border-bottom: 0.1rem $secondary solid;
  }
}

.code-block {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
  border: 0.1rem solid $secondary;
  background: $background;
  box-shadow: $boxShadowInset;

  pre {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  code {
    text-overflow: ellipsis;
  }
}
