.admin-drawer {
  scrollbar-width: thin;

  .dropdown-item {
    transition: all 0.15s ease-in-out;

    border-radius: $border-radius;
    color: $light;
    height: 3rem;

    &.dropdown-item:hover {
      background-color: $bg-hover;
    }

    &.dropdown-item:active {
      background-color: $bg-active;
    }
  }

  .active {
    background-color: $bg-active;
    pointer-events: none;
    color: $muted !important;
  }
}
