@use "sass:math";
@use "sass:color";

@use "@/shared/sass/variables/index" as *;

@use "bootstrap" with (
  $primary: $primary,
  $secondary: $secondary,
  $success: $success,
  $danger: $danger,
  $warning: $warning,
  $info: $info,
  $light: $light,
  $body-bg: $background,

  $body-color: $lightAlt,
  $text-muted: $muted,

  $font-family-base: $inter,
  $font-size-base: $font-size-5,
  $line-height-base: $line-height-base,
  $font-weight-base: $font-weight-normal,
  $headings-font-weight: $font-weight-semibold,

  $spacer: $spacer,
  $spacers: $spacers,

  $border-radius: $border-radius,
  $table-color: $table-color,
  $table-bg: $table-bg,
  $table-border-color: $table-border-color,

  $btn-disabled-opacity: $disabled-opacity,
  $input-disabled-bg: $backgroundAlt,

  $toast-max-width: $toast-max-width
);

@use "@/shared/sass/index" as *;

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  // https://www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/#why-625percent-font-size-works
  font-size: 0.625rem;
}
