// https://learnvue.co/articles/vue-router-transitions

// // Fade Vue Router Transitions
// // <transition name="fade" mode="out-in">
// .fade-enter-active,
// .fade-leave-active {
//   transition: opacity 0.3s ease-in-out;
// }

// .fade-enter-from,
// .fade-leave-to {
//   opacity: 0;
// }

// // Scale Vue Router Transitions
// // <transition name="scale" mode="out-in">
// .scale-enter-active,
// .scale-leave-active {
//   transition: all 0.3s ease-in-out;
// }

// .scale-enter-from,
// .scale-leave-to {
//   opacity: 0;
//   transform: scale(0.9);
// }

// .list-move, /* apply transition to moving elements */
// .list-enter-active,
// .list-leave-active {
//   transition: all 1s ease;
// }

// .list-enter-from,
// .list-leave-to {
//   opacity: 0;
//   transform: translateY(30px);
// }

// /* ensure leaving items are taken out of layout flow so that moving
//    animations can be calculated correctly. */
// .list-leave-active {
//   position: absolute;
// }

.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(-2rem);
}
.list-leave-active {
  position: absolute;
}

// .slide-in-enter-active,
// .slide-in-leave-active {
//   transition: all 0.25s ease-out;
// }

// .slide-in-enter-from {
//   opacity: 0;
//   transform: translateX(-30px);
// }

// .slide-in-leave-to {
//   opacity: 0;
//   transform: translateX(-30px);
// }

// .slide-up-enter-active,
// .slide-up-leave-active {
//   transition: all 0.25s ease-out;
// }

// .slide-up-enter-from {
//   opacity: 0;
//   transform: translateY(30px);
// }

// .slide-up-leave-to {
//   opacity: 0;
//   transform: translateY(-30px);
// }
