$primary: #ff9900;
$secondary: rgba(83, 83, 95, 0.38);

$success: #689f38;
$danger: #d50000;

$muted: #adadb8;
$light: #efeff1;

$background: #0e0e10;
$backgroundLight: #18181b;
$backgroundAlt: #1f1f23;

$twitch: #a970ff;
