$boxShadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

$header-config: (
  height: (
    desktop: 55px,
    tablet-and-mobile: 55px
  ),
  z-index: 100
) !default;

$content-spacing: (
  desktop: 24px,
  tablet-and-mobile: 12px
) !default;
