html,
body {
  color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  color: $light;

  background-color: $background;

  scrollbar-color: $scrollbar-color transparent;
}

#app {
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

.bg-alt {
  background-color: $backgroundAlt;
}

.bg-alt2 {
  background-color: $backgroundLight;
}

.toast-container {
  backface-visibility: hidden;
}

.content-wrapper {
  margin-top: map-get($header-config, height, desktop);
}

.card {
  box-shadow: $boxShadow;
  border: 1px solid $secondary;
  border-radius: $border-radius;

  background-color: $backgroundLight;
  color: $light;

  .section:not(:last-child) {
    border-bottom: 1px $secondary solid;
  }
}

.dropdown {
  .dropdown-menu {
    width: max-content;
    min-width: 20rem;
    max-width: 20rem;

    max-height: 40rem;
    overflow-y: auto;

    box-shadow: $boxShadow;
    border-radius: $border-radius;
    background-color: $backgroundAlt;

    scrollbar-color: $scrollbar-color $backgroundAlt;

    button {
      font-size: $font-size-7 !important;
      font-weight: 400 !important;
      border-radius: $border-radius;
      color: $light;

      &.dropdown-item:hover,
      &.dropdown-item:focus {
        background-color: rgba(255, 255, 255, 0.05);
      }

      &.dropdown-item.active {
        background-color: rgba(255, 255, 255, 0.15);
      }

      &:not(:last-child) {
        margin-bottom: 4px;
      }

      &:disabled {
        color: $muted;
      }
    }
  }
}

.inner-link-btn {
  border: none;
  background-color: transparent;

  &.btn-link {
    text-decoration: none;
    transition: none;
    height: max-content;

    &:hover {
      text-decoration: underline;
    }
  }
}

.btn {
  border: none;
  border-radius: $border-radius;

  height: 3rem;
  line-height: $line-height-base;

  white-space: nowrap;

  padding: 0;

  font-weight: 700;
  font-size: $font-size-7;

  &.btn-icon {
    width: 3rem;
  }

  &.btn-icon-sm {
    width: 2.4rem;
    height: 2.4rem;
  }

  &:disabled {
    background-color: $secondary;
    color: $light;
    opacity: 35%;
  }

  &.btn-link {
    text-decoration: none;
    transition: none;
    height: max-content;

    &:hover {
      text-decoration: underline;
    }
  }

  &.btn-dark {
    background-color: transparent !important;

    &:hover {
      background-color: rgba(255, 255, 255, 0.075) !important;
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.125) !important;
    }
  }
}

.modal {
  .modal-close button {
    width: 3rem;
    height: 3rem;
  }

  // pointer-events: none;
  backdrop-filter: blur(15px);
}

.text-input {
  &.has-error input {
    border-color: $danger;
  }

  &.has-error input:hover {
    box-shadow: 0 0 0 1px $danger;
  }

  &.success input {
    border-color: $success;
  }

  &.success input:hover {
    box-shadow: 0 0 0 1px $success;
  }

  input:hover {
    box-shadow: 0 0 0 1px $muted;
  }

  input:focus {
    border-color: $primary !important;
    box-shadow: 0 0 0 1px $primary !important;
  }

  input {
    outline: none;
    border: 1px $muted solid;
  }
}
