$primary: #42b883;
$primary-alt: #35495e;

$primary-opacity: #42b883cc;

$secondary: rgba(83, 83, 95, 0.38);

$scrollbar-color: hsla(0, 0%, 100%, 0.35);

$muted: #adadb8;
$light: #f7f7f8;
$lightAlt: #dedee3;

$background: #0e0e10;
$backgroundLight: #18181b;
$backgroundAlt: #1f1f23;

$placeholder-opacity-max: 0.2;
$placeholder-opacity-min: 0.1;

$table-color: $light;
$table-bg: inherit;
$table-border-color: $secondary;
