@include media-breakpoint-down(md) {
  h2 {
    font-size: $font-size-3 !important;
  }
}

@include media-breakpoint-up(md) {
  .sub-navigation-layout {
    overflow: hidden;
  }

  .sub-navigation-content {
    overflow: auto;
  }
}

@include media-breakpoint-up(sm) {
  .row-header {
    width: 16rem;
  }
}
