.admin-drawer {
  scrollbar-width: thin;

  .dropdown-item {
    border-radius: $border-radius;
    color: $light;
    height: 3rem;

    &.dropdown-item:hover    // , &.dropdown-item:focus
    {
      background-color: $bg-hover;
    }
  }

  .active {
    background-color: $bg-active;
    pointer-events: none;
    color: $muted !important;
  }
}
