.th-navbar {
  z-index: map-get($header-config, z-index);

  .top-nav {
    height: map-get($header-config, height, desktop);
  }

  nav.nav-logo {
    width: map-get($header-config, height, desktop);

    img.logo {
      width: 3rem;
    }
  }

  .m-nav {
    nav {
      margin-top: 0.2rem;
      a {
        font-family: $outfit;
        font-weight: 600;

        font-size: $font-size-5;

        color: $light;
        transition: color 0.15s ease-in-out;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  nav.nav-logo {
    width: map-get($header-config, height, desktop);

    img.logo {
      width: 3rem;
    }
  }

  div.highlight {
    height: 0.2rem;

    &.active {
      background-color: $primary;
    }
  }

  .btn:has(.custom-badge) {
    position: relative;

    .custom-badge {
      z-index: 100;
      position: absolute;
      top: -0.25rem;
      left: calc(100% - 1.25rem);
      background-color: $danger;
      pointer-events: none;
      border: 2px solid rgba(0, 0, 0, 0.8);
    }
  }
}
