@use "@/shared/sass/variables/index" as vars;
@use "bootstrap" as bs;

.table-responsive {
  scrollbar-width: thin;
}

.table-w-checkbox {
  // tr td:first-child,
  // tr th:first-child {
  //   .cell {
  //     padding-left: 20px;
  //     padding-right: 0px;
  //   }
  // }

  tr td:not(:nth-child(1)) {
    width: 1%;
    white-space: nowrap;
  }

  td {
    @include vars.after-nth(1) {
      .cell {
        flex-direction: row-reverse;
        justify-content: end;
        text-align: end;
      }
    }
  }

  th {
    @include vars.after-nth(1) {
      .cell {
        flex-direction: row-reverse;
        justify-content: end;
        text-align: end;
      }
    }
  }
}

.table-wo-checkbox {
  tr td:last-child {
    width: 1%;
    white-space: nowrap;
  }
}

table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;

  border-top: 0.1rem vars.$secondary solid;
  border-right: 0.1rem vars.$secondary solid;
  border-left: 0.1rem vars.$secondary solid;

  .th-checkbox {
    background-color: transparent !important;
  }

  &.disabled {
    tbody {
      pointer-events: none;
      opacity: vars.$disabled-opacity;
    }
  }

  thead {
    background-color: vars.$bg-dark;
    border-bottom: 0.1rem vars.$primary solid;
  }

  tr {
    gap: 2rem;
  }

  tbody {
    color: vars.$lightAlt;
    transition: opacity 0.15s ease-in-out;

    tr {
      border-bottom: 0.1rem vars.$secondary solid;
      transition: background-color 0.15s ease-in-out;

      &:nth-of-type(even) {
        background-color: vars.$backgroundAlt;
      }
    }

    tr:has(input[type="checkbox"]:checked) {
      background-color: rgba(vars.$primary, 0.15);
    }
  }

  .cell {
    min-height: 5rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;

    .badge {
      font-size: vars.$font-size-8 !important;
    }
  }
}

.th-pagination {
  .page-item {
    display: flex;
    align-items: center;

    .btn {
      font-size: vars.$font-size-7;
      font-weight: 600;
      height: 3rem;
      width: 3rem;

      &.active {
        background-color: vars.$primary !important;
        color: #000;
      }
    }
  }
}

.container-overflow {
  overflow-x: auto;

  animation: scroll-shadow-inset linear;
  animation-timeline: scroll(self inline);
}

@keyframes scroll-shadow-inset {
  from {
    box-shadow: inset -15px -10px 15px 0px rgb(0 0 0 / 0.5);
  }

  to {
    box-shadow: inset 15px -10px 15px 0px rgb(0 0 0 / 0.5);
  }
}

.search-bar .th-search-input {
  max-width: 30rem;
}

@include bs.media-breakpoint-down(md) {
  .search-bar .th-search-input {
    max-width: none;
  }
}

.description-cell {
  display: block;
  width: 100%;
  overflow: hidden;
  width: 25rem;
}

.clamped-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
