table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;

  border-top: 0.1rem $secondary solid;
  border-right: 0.1rem $secondary solid;
  border-left: 0.1rem $secondary solid;

  &.disabled {
    tbody {
      pointer-events: none;
      opacity: $disabled-opacity;
    }
  }

  thead {
    background-color: $bg-dark;
    border-bottom: 0.1rem $primary solid;
  }

  tr {
    gap: 2rem;
  }

  tr td:first-child,
  tr th:first-child {
    .cell {
      padding-left: 20px;
      padding-right: 0px;
    }
  }

  tr td:not(:nth-child(2)) {
    width: 1%;
    white-space: nowrap;
  }

  tbody {
    color: $lightAlt;
    transition: opacity 0.15s ease-in-out;

    tr {
      border-bottom: 0.1rem $secondary solid;

      &:nth-of-type(even) {
        background-color: $bg-hover;
      }
    }
  }

  .cell {
    min-height: 5rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;

    .badge {
      font-size: $font-size-8 !important;
    }
  }

  td:not(:nth-child(1)):not(:nth-child(2)),
  th:not(:nth-child(1)):not(:nth-child(2)) {
    .cell {
      flex-direction: row-reverse;
      justify-content: end;
      text-align: end;
    }
  }
}

.th-pagination {
  .page-item {
    display: flex;
    align-items: center;

    .btn {
      font-size: $font-size-7;
      font-weight: 600;
      height: 3rem;
      width: 3rem;

      &.active {
        background-color: $primary !important;
        color: #000;
      }
    }
  }
}

.container-overflow {
  overflow-x: auto;

  animation: scroll-shadow-inset linear;
  animation-timeline: scroll(self inline);
}

@keyframes scroll-shadow-inset {
  from {
    box-shadow: inset -15px -10px 15px 0px rgb(0 0 0 / 0.5);
  }

  to {
    box-shadow: inset 15px -10px 15px 0px rgb(0 0 0 / 0.5);
  }
}

.search-bar .th-search-input {
  max-width: 30rem;
}

@include media-breakpoint-down(md) {
  .search-bar .th-search-input {
    max-width: none;
  }
}
