$toast-themes: (
  danger: $danger,
  primary: $primary,
  success: $success,
  warning: $warning,
  info: $info
);

@each $name, $color in $toast-themes {
  .toast-#{$name} {
    .highlight {
      background-color: #{$color};
    }

    * > h5 {
      color: #{$color};
    }
  }
}

.toast-container {
  backface-visibility: hidden;
}
