$toast-themes: (
  danger: $danger,
  primary: $primary,
  success: $success,
  warning: $warning,
  info: $info
);

@each $name, $color in $toast-themes {
  .toast-#{$name} {
    border: 1px solid #{$color};
    box-shadow: 0 0 8px rgba($color, 0.4);

    * > h6 {
      color: #{$color};
    }
  }
}
