$primary: #ff9900;
// $primary: hsl(269, 100%, 76%);
$secondary: rgba(83, 83, 95, 0.38);

// $success: #689f38;
// $danger: #d50000;

$success: hsl(141, 71%, 48%);
$danger: hsl(348, 100%, 61%);
$warning: hsl(48, 100%, 67%);
$info: hsl(204, 86%, 53%);

$muted: #adadb8;
$light: #f7f7f8;
$lightAlt: #dedee3;

$background: #0e0e10;
$backgroundLight: #18181b;
$backgroundAlt: #1f1f23;

:base {
  --color-twitch-purple-1: #040109;
  --color-twitch-purple-2: #0d031c;
  --color-twitch-purple-3: #15052e;
  --color-twitch-purple-4: #24094e;
  --color-twitch-purple-5: #330c6e;
  --color-twitch-purple-6: #451093;
  --color-twitch-purple-7: #5c16c5;
  --color-twitch-purple-8: #772ce8;
  --color-twitch-purple-9: #9147ff;
  --color-twitch-purple-10: #a970ff;
  --color-twitch-purple-11: #bf94ff;
  --color-twitch-purple-12: #d1b3ff;
  --color-twitch-purple-13: #e3d1ff;
  --color-twitch-purple-14: #ede0ff;
  --color-twitch-purple-15: #f3ebff;
}
