html,
body {
  color-scheme: light dark;
  color: $light;

  background-color: $background;
  scrollbar-color: $scrollbar-color $background;

  ::selection {
    color: $light !important;
    background-color: color-mix(in srgb, $primary 50%, transparent) !important;
  }
}

.bg-alt {
  background-color: $backgroundAlt;
}

.bg-alt2 {
  background-color: $backgroundLight;
}

.bg-alt3 {
  background-color: $bg-dark;
}

.text-muted {
  color: $muted !important;
}

.text-light-alt {
  color: $lightAlt;
}

.text-grey {
  color: grey;
}

.light-link {
  color: $lightAlt;
  &:hover {
    opacity: 80%;
  }
}

a {
  transition: all 0.15s ease-in-out;
}

.box-shadow {
  box-shadow: $boxShadow;
}

.border-radius {
  border-radius: $border-radius;
}
