.hover-cursor-pointer:hover {
  cursor: pointer;
}

.hover-underline:hover {
  text-decoration: underline;
}

.pointer-events-none {
  pointer-events: none;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: $primary #0000 $light #0000;
  border-radius: 50%;
  box-sizing: border-box;
  animation: 1s rotate linear infinite;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 0.25em !important;
}

.help {
  cursor: help;
}

.text-truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 2;
  text-overflow: ellipsis;
}
